/* Custom fonts. */
@font-face {
  font-family: 'Pally Variable';
  src: url('/fonts/pally-variable/Pally-Variable.woff2') format('woff2');
  src: url('/fonts/pally-variable/Pally-Variable.woff') format('woff');
  src: url('/fonts/pally-variable/Pally-Variable.truetype') format('truetype');
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}

/* Variables */
:root {
  /* Base Brand Colors */
  --base-aqua-blue: rgba(0, 160, 176, 1);
  --base-aqua-blue-light: rgba(214, 251, 255, 1);
  --base-royal-blue: rgba(0, 71, 137, 1);
  --base-royal-blue-light: rgba(211, 234, 255, 1);
  --base-mexican-pink: rgba(239, 17, 118, 1);
  --base-mexican-pink-light: rgba(255, 229, 241, 1);
  --base-mexican-gold: rgba(255, 180, 0, 1);
  --base-mexican-gold-light: rgba(255, 236, 187, 1);
  --base-dark-blue: rgba(0, 25, 49, 1);
  --base-light-blue: rgba(198, 227, 255, 1);
  --base-light-off-white-yellow: rgba(255, 252, 244, 1);
  --base-off-white: rgba(255, 254, 253, 1);
  --base-off-black: rgba(17, 17, 17, 1);
  /* Color Variables */
  --color-primary: var(--base-aqua-blue);
  --color-primary-light: var(--base-aqua-blue-light);
  --color-secondary: var(--base-royal-blue);
  --color-secondary-light: var(--base-royal-blue-light);
  --color-accent-primary: var(--base-mexican-pink);
  --color-accent-primary-light: var(--base-mexican-pink-light);
  --color-accent-secondary: var(--base-mexican-gold);
  --color-accent-secondary-light: var(--base-mexican-gold-light);
  --color-dark: var(--base-dark-blue);
  --color-medium: var(--base-light-blue);
  --color-light: var(--base-off-white);
  --color-body: var(--base-off-black);
  --color-bg: var(--base-light-off-white-yellow);
  /* Font Variables */
  --font-headings: 'Pally Variable', sans-serif;
  --font-body: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Full-page layout */
html,
body {
  height: 100%;
  font-family: var(--font-body);
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  color: var(--color-dark);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


body {
  width: 100%;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  body {
    max-width: 900px;
    padding-bottom: 4rem;
  }
}

p {
  margin: 0 0 .75rem;
}

a {
  color: var(--color-primary);
}

a.body-link {
  color: var(--color-primary);
  text-decoration: underline;
  font-weight: bold;
}

/* === Skip To Main Content === */
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 20%;
  height: auto;
  overflow: auto;
  margin: 1rem 40%;
  padding: 1rem 2rem;
  z-index: 999;
}

/* Visually Hidden Content | Screen Reader Only */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.layout-root {
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
}

main {
  padding: 5rem 5rem 1rem;
  margin: 0 auto;
  /* max-width: 1400px; */
}


@media (max-width: 900px) {
  main {
    padding: 1rem 1rem 1rem;
    margin: 0 1rem;
    /* overflow-x: hidden; */
  }
}

.ribbon {
  background-color: var(--color-accent-secondary-light);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: bold;
  line-height: 1.5;
}